<ion-content class="border_radius">
    <ion-list class="bg_custom">
        <ion-row>
            <ion-col size-lg="8" size="6" class="my-auto">
                <p class="m-0">Your Profile is Pending Verification!</p>
            </ion-col>
            <ion-col size-lg="4" size="6" class="ion-text-end">
                <ion-button shape="round" color="warning">Verify Now</ion-button>
            </ion-col>
        </ion-row>
        <ion-card class="mx-0 border-bottom-0">
            <ion-card>
                <div class="d-flex border">
                    <ion-icon class="fs-1 my-auto mx-2" name="telescope-outline"></ion-icon>
                    <p class="text-dark">TamilMatrimony is the Most Trusted and Largest Matrimony Service for Tamils
                        across the world
                    </p>
                    <ion-icon color="warning" class="fs-1 my-auto mx-2" name="chevron-forward-outline"></ion-icon>
                </div>
            </ion-card>
            <ion-card-content>
                <img class="h-100 w-100 rounded" src="../../../assets/images/logo.png" alt="">
            </ion-card-content>
            <ion-card-content>
                <div class="d-flex justify-content-between">
                    <div>196 New Matches</div>
                    <div>See all</div>
                </div>
                <swiper [slidesPerView]="3.5" [spaceBetween]="30" [loop]="false" [allowTouchMove]="true"
                    [centeredSlides]="false" class="mySwiper" id="mySwiperID">
                    <ng-template swiperSlide *ngFor="let item of allProfiles; index as i">
                        <div>
                            <img height="500" class="rounded h-100 w-100"
                                src="https://picsum.photos/300/300/?random={{i}}" />
                            <div class="ion-text-nowrap font ion-text-start">
                                <h3 class="fw-bold">{{item.profileName}}</h3>
                                {{item.age}} yrs, {{item.height}}
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>