.ioncontent {
  --ion-background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(85, 185, 113, 1) 0%,
    rgba(39, 178, 180, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  );
}
.header_bg {
  --ion-background-color: linear-gradient(90deg, #020024 0%, #5e4882 0%, #552772 99%, #9f36cb 100%);
  // height: 98px;
}

.yesbutton_regular {
  color: #fff !important;
  border-radius: 25px !important;
  border: 2px solid #fff !important;
  position: relative !important;
  z-index: 2 !important;
  background-color: #278a85 !important;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(85, 185, 113, 1) 0%,
    rgba(39, 178, 180, 1) 99%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 42px !important;
  width: 108px;
}
.confirmbutton_regular {
  background-color: #fff !important;
  color: #2a2a72 !important;
  text-transform: capitalize !important;
  width: 108px;
  height: 34px !important;
  border-radius: 26px !important;
  font-size: 18px !important;
  position: relative !important;
  margin-right: -22px !important;
  border: #fff;
}
.yesbutton_prime {
  background-color: #298987;
  background-image: linear-gradient(260deg, #278a85 0%, #298988 0%);
  color: #fff;
  border-radius: 25px;
  border: 2px solid #fff;
  position: relative !important;
  z-index: 1;
  height: 42px !important;
  width: 85px;
}
.confirmbutton_prime {
  background-color: #fff;
  color: #2a2a72;
  text-transform: capitalize !important;
  width: 108px;
  height: 34px;
  border-radius: 26px;
  font-size: 18px !important;
  position: relative;
  margin-left: -22px;
}
// buttons
.isActive {
  --background: hsl(180, 89%, 30%) !important;
  --color: white !important;
  --font-weight: 600 !important;
  border-radius: 15px;
  position: relative;
  left: 11px;
}

.inActive {
  --background: white !important;
  --color: rgb(178, 26, 224) !important;
  border-radius: 15px;
}

.isAct {
  --background: hsl(180, 89%, 30%) !important;
  --color: white !important;
  --font-weight: 600 !important;
  --border-radius: 7px !important;
  --border-width: 0px !important;
  --border-color: none !important;
  margin: 10px !important;
  --padding: 0px 0px !important;
  height: 42px !important;
}

.inAct {
  --color: white !important;
  --border-radius: 7px !important;
  --border-width: 1px !important;
  --border-color: none !important;
  margin: 10px !important;
  --padding: 0px 0px !important;
  height: 42px !important;
}
