.header_bg {
    background-color: #ec6363;
  }
  .yesbutton_regular {
    color: #fff !important;
    border-radius: 25px !important;
    border: 2px solid #dfdfdf !important;
    position: relative !important;
    z-index: 1 !important;
    background-color: #990000 !important;
    background-image: linear-gradient(1deg, #990000 0%, #ff0000 74%) !important;
  }
  .tabSet {
    display: flex;
    width: fit-content;
    margin: auto;
    padding-top: 20px;
  }
  .tabSet ion-button{
    font-size: 16px;
    padding: 2px 20px;
  }
  .confirmbutton_regular {
    background-color: #fff;
    color: #2a2a72;
    text-transform: uppercase;
    padding: 0px 30px !important;
    height: 34px;
    border-radius: 26px;
    font-size: 18px !important;
    position: relative;
    margin-right: -22px;
    top: 5px;
  }
  ion-button{
    margin: 0 auto;
    display: block;
  }
  .yesbutton_prime {
    background-color: #f9484a;
    background-image: linear-gradient(260deg, #f9484a 0%, #fbd72b 74%);
    color: #fff;
    border-radius: 25px;
    border: 2px solid #dfdfdf;
    position: relative;
    z-index: 1;
  }
  
  * {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  .header_bg_1 {
    background-color: #00629c;
    background-image: linear-gradient(313deg, #000000 0%, #04619f 0%);
  }
  
  .confirmbutton_prime {
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    padding: 0px 30px !important;
    height: 34px;
    border-radius: 26px;
    font-size: 18px !important;
    position: relative;
    margin-left: -22px;
    top: 5px;
  }
  
  :host ::ng-deep {
    .mat-tab-label,
    .mat-tab-link {
      color: white;
      font-weight: bolder;
      font-size: 19px;
    }
  }
  
  .font-size {
    font-size: 19px;
    font-weight: 600;
  }
  .ioncontent1{
    --ion-background-color: linear-gradient(#58ba6b,#3cb2ab, #3eb594);
  }