<ion-content class="main_sec ioncontent">
  <ion-list lines="none" class="ion-no-padding"  [ngClass]="tabType == 'regular' ? 'ioncontent':'header_bg'">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-list lines="none" class="py-4 d-flex ion-justify-content-center">
          <div class="text-center">
            <ion-button color="none" shape="round"
              [ngClass]="tabType === 'regular' ? 'yesbutton_regular':'confirmbutton_regular'"
              (click)="switchTab('regular')">Regular
            </ion-button>
            <ion-button color="none" shape="round"
              [ngClass]="tabType == 'prime' ? 'yesbutton_prime':'confirmbutton_prime'" (click)="switchTab('prime')">
              PRIME
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="tabType == 'regular'">
        <ion-slides [options]="slideOptions">
          <ion-slide>
            <ion-buttons *ngFor="let item of buttons ; let i= index">
              <ion-button [ngClass]="{'isAct': item.name === name.name, 'inAct': item.name !== name.name}"
                class="ion-text-capitalize ion-text-wrap" (click)="onClick(item, i)" fill="outline" size="small">
                {{item.name}}
              </ion-button>
            </ion-buttons>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col color="light" *ngIf="tabType == 'regular'">
        <p class="text-white mx-2 my-2">{{name.TotalCount}} {{name.name}} based on your preference</p>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-content *ngIf="tabType == 'regular'" class="custom_regular">
    <app-regular-matches [currentRout]="currentRout" [matchedValue]="newData"></app-regular-matches>
  </ion-content>
  <ion-content *ngIf="tabType == 'prime'" class="custom_prime">
    <app-prime-matches *ngIf="tabType == 'prime'"></app-prime-matches>
  </ion-content>
</ion-content>