<ion-content>
    <div class="container-fluid bgprime h-100">
        <div class="row border-0">
            <div class="col-lg-12 prime">
                <h4 class="m-0">Introducing  <br> BharathMatrimony <span class="fw-bold">PRIME</span></h4>
                <h5 class="my-2">With <span class="fw-bold">PRIME</span>, you get: </h5>
                <ul>
                    <li> 100% ID verified, high-quality profiles</li>
                    <li> Matches with photos and complete information</li>
                    <li> The finest and most trustworthy profiles to choose from</li>
                </ul>
            </div>
            <div class="col-lg-12 regular py-0">
                <h5>Be a part of <span class="fs-3">PRIME,</span> for free with these simple steps:</h5>
                <h6>Add your photo to join the exclusive club</h6>
                <ion-button shape="round" color="warning" (click)="myfile.click()">Upload Photo</ion-button>
                <input color="warning" style="display: none;" type="file" #myfile name="myfile">
                <h6>Get your profile verified with an ID proof</h6>
                <ion-button shape="round" color="warning">Upload Id Proof</ion-button>
            </div>
        </div>
      </div>
</ion-content>

